<input type="text" ng-model="name" />
<button type="button" ng-click="query()">确定</button>
<select ng-change="query()" ng-model="pageSize">
    <option ng-value="2">2</option>
    <option ng-value="3">3</option>
    <option ng-value="4">4</option>
</select>
<table class="table">
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>用户名</th>
        <th>性别</th>
        <th>邮箱</th>
    </tr>
    <tr ng-repeat="(index, teacher) in teachers">
        <td>{{$index + 1}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.username}}</td>
        <td>{{teacher.sex | sexFilter}}</td>
        <td>{{teacher.email}}</td>
    </tr>
</table>
<nav class="text-center">
    <ul class="pagination">
        <li class="{{activeClass(1)}}">
            <a ng-click="changePage(1)" href="javascript:void(0);">1</a>
        </li>
        <li class="{{activeClass(2)}}">
            <a ng-click="changePage(2)" href="javascript:void(0);">2</a>
        </li>
    </ul>
</nav>
<div class="debug">
    {{name}}
    <br /> {{page}}
    <br /> {{pageSize}}
    <br /> {{teachers}}
</div>
