<div class="row">
    <div class="col-md-12">
        <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
        <div ng-show="isError" class="alert alert-danger" role="alert">{{errors}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="submit()">
            <label>名称:
                <input type="text" ng-model="klass.name">
            </label>
            <label>辅导员:
                <select ng-model="klass.teacherId">
                    <option ng-repeat="_teacher in teachers" ng-value="_teacher.id">{{_teacher.name}}</option>
                </select>
                <button type="submit">submit</button>
        </form>
    </div>
</div>
<div class="debug" ng-show="isDebug">
    {{klass}}
    <br />
    {{teachers}}
</div>
