<div class="row">
    <div class="col-md-12 text-right">
        <a class="btn btn-default" ng-href="#!/klass/add">添加</a>
    </div>
</div>
<input type="text" ng-model="name" />
<button type="button" ng-click="query()">确定</button>
<select ng-change="query()" ng-model="pageSize">
    <option ng-value="2">2</option>
    <option ng-value="3">3</option>
    <option ng-value="4">4</option>
</select>
<table class="table">
    <tr>
        <th>序号</th>
        <th>班级名称</th>
        <th>辅导员</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="(index, klass) in klasses">
        <td>{{$index + 1}}</td>
        <td>{{klass.name}}</td>
        <td>{{klass.teacher.name}}</td>
        <td></td>
    </tr>
</table>
<nav class="text-center">
    <ul class="pagination">
        <li ng-repeat="page in [] | paginationFilter:pageSize:totalCount" class="{{activeClass(page)}}">
            <a ng-click="changePage(page)" href="javascript:void(0);">{{page}}</a>
        </li>
    </ul>
</nav>
<div class="debug" ng-show="isDebug">
    {{name}}
    <br /> {{page}}
    <br /> {{pageSize}}
    <br /> {{klasses}}
</div>

